
.mediatext {
    font-size: 1.2em;
    padding-left: 10%;
    padding-right: 10%;
    color: gray;
}

.date {
    font-weight: 700;
}

.concert {
    font-weight: 700;
}

.lieu {
    color: #6c757d !important;
    text-decoration: none;
}
.lieu:hover, .lieu:focus {
    color: #0f283b !important;
}

.CDAtitre {
    color: rgb(206, 70, 20) !important;
    font-size: 4em !important;
}

.CDAsstitre {
    color: rgb(206, 70, 20) !important;
    font-size: 2em !important;
}

.CDAvideo {
    padding-left: 10px;
    padding-right: 10px;
}

.CDAadresse {
    background-color: lightgrey;
    color: black;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blank_link {
    color: white;
    text-decoration: none;
}
.blank_link:hover {
    color: rgb(97, 40, 40);
}

.CDAcaption {
    color: white;
    font-size: 0.9em;
}

.CDA-bg-choeur {
    background-color: rgb(40, 21, 21);
}

.CDA-grid {
    flex: 0 0 auto;
    width: 30%; 
    text-align: center;
    margin-top: 2rem;
}

.CDA-photo {
    border-radius: 50% ;
    max-width: 50%;
    height: auto;
}

.Camille {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media (min-width: 400px) {
    .date, .concert, .lieu, .heure { font-size: 80%;}
    .CDA-photo  { max-width: 70%; }
    .CDA-grid   { width: 40%; }
}
@media (min-width: 768px) {
    .date, .concert, .lieu, .heure  { font-size: 90%;}
    .CDA-photo  { max-width: 80%; }
    .CDA-grid   { width: 30%; }
}
@media (min-width: 992px) {
    .date, .concert, .lieu, .heure  { font-size: 100%;}
    .CDA-photo  { max-width: 90%; }
    .CDA-grid   { width: 25%; }
}
@media (min-width: 1200px) {
    .CDA-photo  { max-width: 100%; }
    .CDA-grid   { width: 20%; }
}
