.mediatext {
    font-size: 1.2em;
    padding-left: 10%;
    padding-right: 10%;
    color: gray;
}

.date {
    font-weight: 700;
}

.concert {
    font-weight: 700;
}

.lieu {
    color: #6c757d !important;
    text-decoration: none;
}
.lieu:hover, .lieu:focus {
    color: #0f283b !important;
}

.CDAtitre {
    color: rgb(206, 70, 20) !important;
    font-size: 4em !important;
}

.CDAsstitre {
    color: rgb(206, 70, 20) !important;
    font-size: 2em !important;
}

.CDAvideo {
    padding-left: 10px;
    padding-right: 10px;
}

.CDAadresse {
    background-color: lightgrey;
    color: black;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blank_link {
    color: white;
    text-decoration: none;
}
.blank_link:hover {
    color: rgb(97, 40, 40);
}